<div class="header">
	<div class="avatar ui floated right label">
		<img class="ui mini circular image" src="/images/avatar2/small/elyse.png">
	    <div class="content">
	      	<div class="ui sub header">Elyse</div>
	      	Developer
	    </div>
	</div>
</div>
<div class="content-container">
	<div class="left-col">
		<h3 class="ui block header">
			Header
		</h3>
	</div>
	<div class="right-col">
		r
	</div>
</div>