<!DOCTYPE html>
<html>
<head>
	<title>New Sails App</title>

	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<meta charset="utf-8" />


<!--STYLES-->
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->
</head>

<body class="login-page">
	<div class="container">
		<div class="row">
          <div class="login-form">
            <div class="x_panel">
              <div class="x_title">
                <h2>Đăng nhập <strong>EgoProject</strong></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br />
                <form id="demo-form2" action="/login" method="POST" data-parsley-validate class="form-horizontal form-label-left">

                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tài khoản <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="username" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Mật khẩu <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="password" id="last-name" autocomplete="false" name="password" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-primary">Huỷ bỏ</button>
                      <button type="submit" class="btn btn-success">Đăng nhập</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
	</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/angular-route.js"></script>
<script src="/js/dependencies/angular-sanitize.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/app.module.js"></script>
<script src="/js/app.routes.js"></script>
<script src="/js/components/SchoolList.js"></script>
<script src="/js/components/SchoolService.js"></script>
<script src="/js/components/homepage.js"></script>
<script src="/js/shared/UrlConstant.js"></script>
<!--SCRIPTS END-->
</body>
</html>
