.login-page {
  .container {
    margin-top: 200px;
  }

  .login-form {
    width: 500px;
    margin: 0 auto;
  }
  @media (min-width: 1200px) {  
    .container {
      width: 1170px;
    }
  }

  @media (min-width: 992px) {
    .container {
        width: 970px;
    }
  }
}